{% extends (ajax ? 'ajax.html.twig' : 'layout.html.twig' ) %}
{% set active = 'rights' %}

{% block content %}
					<h3>{{ right ? 'Edit' : 'Create' }} a right</h3>
    				<form action="{{ path('manage.rights.edit') }}" method="post" {{ isNew ? '' : 'data-role="saveForm"' }} data-options="{{ jsonSaveRight }}" {{ form_enctype(form) }} class="form-horizontal">
						{% if error or isErrorForm %}
					        <div class="alert alert-error">
					            {% if isErrorForm %}
									{{ form_errors(form.name) }}
									{{ form_errors(form.content) }}
					            {% else %}
									{{ error }}
					            {% endif %}
					        </div>
					    {% endif %}

						{{ form_label(form.name, 'Right name') }}
						{{ form_widget(form.name) }}

						{{ form_label(form.description, 'Right description') }}
						{{ form_widget(form.description) }}
						<br />
						{% if sections|length > 0 %}
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr><th>Section</th><th>Rights</th></tr>
							</thead>
							<tbody>
							{% for section in sections %}
								<tr>
									<td>{{ section.name }}</td>
									<td> {{ form_widget(attribute(form, 'section_' ~ section.id)) }}	</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
						{% else %}
						<h5>no sections found please add <a href="{{ path('manage.sections') }}">sections</a></h5>
						{% endif %}
						{% if right.isSuperAdmin == false and readonly == false %}
							<button class="btn btn-button"  >SAVE</button>
						{% endif %}
						{{ form_rest(form) }}
					</form>
					<a href=" {{ path('manage.rights') }}" class="btn btn-button text-right">SEE LIST</a>
{% endblock %}
