{% extends (ajax ? 'ajax.html.twig' : 'layout.html.twig' ) %}
{% set active = 'sections' %}

{% block content %}
					<h3>{{ section ? 'Edit' : 'Create' }} a section</h3>
    				<form action="{{ path('manage.sections.edit') }}" method="post" {{ isNew ? '' : 'data-role="saveForm"' }} data-options="{{ jsonSaveSection }}" {{ form_enctype(form) }} class="form-horizontal">
						{% if error or isErrorForm %}
					        <div class="alert alert-error">
					            {% if isErrorForm %}
									{{ form_errors(form.name) }}
									{{ form_errors(form.content) }}
					            {% else %}
									{{ error }}
					            {% endif %}
					        </div>
					    {% endif %}

						{{ form_label(form.name, 'Section name') }}
						{{ form_widget(form.name, {'attr': {'class' : 'input-xxlarge'}}) }}

						{{ form_label(form.content, 'Section content') }}
						{{ form_widget(form.content, {'attr': {'class' : 'input-xxlarge'}}) }}
						{{ form_rest(form) }}
						<br />
						<br />
						<p >
							<a href=" {{ urlBack }}" class="btn btn-button text-right">BACK</a>
							{% if readonly == false %}
								{% if fromUser %}
									<input type="hidden" name="from" value="user"/>
								{% endif %}
								<button class="btn btn-button" >SAVE</button>
							{% endif %}
						</p>
					</form>
{% endblock %}
