
{% extends (ajax ? 'ajax.html.twig' : 'layout.html.twig' ) %}
{% set active = 'users' %}

{% block content %}
					<h3>{{ user ? 'Edit' : 'Create' }} a user</h3>
    				<form action="{{ path('manage.users.edit') }}" method="post" {{ isNew ? '' : 'data-role="saveForm"' }} data-options="{{ jsonSaveUser }}" {{ form_enctype(form) }} class="form-horizontal">
						{% if error or isErrorForm %}
					        <div class="alert alert-error">
					            {% if isErrorForm %}
									{{ form_errors(form.name) }}
									{{ form_errors(form.content) }}
					            {% else %}
									{{ error }}
					            {% endif %}
					        </div>
					    {% endif %}

						{{ form_label(form.username, 'User name') }}
						{{ form_widget(form.username, {'attr': {'class' : 'input-xlarge'}}) }}

						{% if readonly == false %}
						{{ form_label(form.password, 'User password') }}
						{{ form_widget(form.password, {'attr': {'class' : 'input-xlarge'}}) }}
						{% endif %}

						{{ form_label(form.right, 'User right') }}
						{{ form_widget(form.right, {'attr': {'class' : 'input-xlarge'}}) }}

						{{ form_widget(form._token) }}
						<br />
						<br />
						<p>
							<a href=" {{ path('manage.users') }}" class="btn btn-button text-right">BACK</a>
							{% if readonly == false %}
								<button class="btn btn-button" >SAVE</button>
							{% endif %}
						</p>
					</form>
{% endblock %}
