
{% extends (ajax ? 'ajax.html.twig' : 'layout.html.twig' ) %}
{% set active = 'users' %}

{% block content %}
					<h3>{{ user ? 'Edit' : 'Create' }} a user</h3>
    				<form action="{{ path('manage.users.edit') }}" method="post" {{ isNew ? '' : 'data-role="saveForm"' }} data-options="{{ jsonSaveUser }}" {{ form_enctype(form) }} class="form-horizontal">
						{% if error or isErrorForm %}
					        <div class="alert alert-error">
					            {% if isErrorForm %}
									{{ form_errors(form.name) }}
									{{ form_errors(form.content) }}
					            {% else %}
									{{ error }}
					            {% endif %}
					        </div>
					    {% endif %}

						{{ form_label(form.username, 'User name') }}
						{{ form_widget(form.username) }}

						{% if readonly == false %}
						{{ form_label(form.password, 'User password') }}
						{{ form_widget(form.password) }}
						{% endif %}

						{{ form_label(form.right, 'User right') }}
						{{ form_widget(form.right) }}

						{{ form_widget(form._token) }}
						<br />
						{% if readonly == false %}
						<button class="btn btn-button" >SAVE</button>
						{% endif %}
					</form>
					<a href=" {{ path('manage.users') }}" class="btn btn-button text-right">SEE LIST</a>
{% endblock %}
