{% extends (ajax ? 'ajax.html.twig' : 'layout.html.twig' ) %}
{% set active = 'users' %}

{% block content %}
				<h3>Manage users</h3>
					<p>Here you ca manage users</p>
					{% if users|length > 0 %}
					<h5>{{users|length }} users found</h5>
					{% else %}
					<h5>no user found</h5>
					{% endif %}
					<p> Create a <a href="{{ path('manage.users.edit') }}">New user</a></p>
					{% if users|length > 0 %}
					<table class="table table-striped table-hover table-condensed">
						<thead>
							<tr><th>Name</th><th>update</th><th>right</th></tr>
						</thead>
						<tbody>
						{% for user in users %}
							<tr>
								<td>{{ user.username }}</td>
								<td>{{ user.update }}</td>
								<td>{{ user.type.name }}</td>
								<td>
									<a class="btn btn-small" href="{{ path('manage.users.edit', {'name':user.username})}}" >EDIT</a>
									{% if user.isSuperAdmin() == false %}
									<button class="btn btn-small" data-role="delSection" data-options="{&quot;url&quot;: &quot;{{ path('manage.users.delete',  {'id': user.id }) }}&quot;}">DELETE</a>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
					{% endif %}
{% endblock %}
